doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Blog
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='../css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/jquery.bxslider.css')
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='../js/bootstrap.min.js')
    script(type='text/javascript', src='../js/main.js')
    script(type='text/javascript', src='../js/jquery.bxslider.min.js')
  body
    .container
      .row
        .col-md-2
        .col-md-8
          .row.uno
            h1.h-titular Blogs
            h4.inline-block.oswald LO ÚLTIMO EN BLOGS
            img.inline-block(src='../image/double-arrow-bottom.png')
          .container-fluid
            .row.dos
              .row
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
                .col-md-4.text-center
                  .tres
                    p Lunes 14 de julio de 2015
                    h4 El gol de la muerte
                    .cuatro
                      .cinco.pull-left
                        img(src='../image/blog_avatar_01.jpg')
                      .seis
                        p BLOG
                        h5 LIBROS
    .col-md-2
               	